{:duct.profile/base
 {:duct.core/project-ns tracky

  :duct.handler/root
  {:router #ig/ref :duct.router/reitit}
  
  :duct.router/reitit
  {:routes [["/test" {:get {:handler #ig/ref :tracky.handlers/index}}]]
   :reitit.rings/opts {}
   :reitit.ring/deafult-handlers {}}
  
  :tracky.handlers/index {}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/site
 {}
 :duct.module/sql
 {}}
