{:duct.profile/base
 {:duct.core/project-ns tracky

  :duct.handler/root
  {:router #ig/ref :duct.router/reitit}

  :duct.router/reitit
  {:routes [["/" {:get {:handler #ig/ref :tracky.presentation.http.controllers.frontend.main-ctrl/index}}]
            ["/auth-code" {:get {:handler #ig/ref :tracky.presentation.http.controllers.frontend.oauth2-ctrl/auth-code}}]
            ["/api"
             ["/entries"
              ["/list" {:get {:handler #ig/ref :tracky.presentation.http.controllers.api.entries-ctrl/list}}]
              ["/sync/:id" {:post {:handler #ig/ref :tracky.presentation.http.controllers.api.entries-ctrl/sync}}]
              ["/sync-all" {:post {:handler #ig/ref :tracky.presentation.http.controllers.api.entries-ctrl/sync-all}}]]]]
   :reitit.ring/opts {:data #ig/ref :tracky.infrastructure.reitit/opts}
   :reitit.ring/deafult-handlers {}}

  :tracky.infrastructure.reitit/opts {:buddy #ig/ref :duct.middleware.buddy/authentication
                                      :access-rules #ig/ref :tracky.infrastructure.middlewares/authorization}

  :tracky.infrastructure.middlewares/authorization {}

  :tracky.infrastructure.http/toggl {}
  :tracky.domain/entry-repository {:impl #ig/ref :tracky.infrastructure.http/toggl}

  :tracky.infrastructure.http/tempo {}
  :tracky.domain/worklog-repository {:impl #ig/ref :tracky.infrastructure.http/tempo}

  :tracky.presentation.http.controllers.api.entries-ctrl/list {}
  :tracky.presentation.http.controllers.api.entries-ctrl/sync {}
  :tracky.presentation.http.controllers.api.entries-ctrl/sync-all {}

  :tracky.presentation.http.controllers.frontend.main-ctrl/index {}

  :tracky.presentation.http.controllers.frontend.oauth2-ctrl/auth-code {:access-token-uri "https://oauth2.googleapis.com/token"
                                                                        :client-id #duct/env ["GOOGLE_CLIENT_ID" Str]
                                                                        :client-secret #duct/env ["GOOGLE_CLIENT_SECRET" Str]
                                                                        :redirect-uri #duct/env ["REDIRECT_URI" Str]}

  :magnet.buddy-auth/jwt-oidc
  {:claims {:iss #duct/env ["ISSUER_URL" Str]
            :aud #duct/env ["AUDIENCE" Str]}
   :jwks-uri #duct/env ["JWKS_URI" Str]
   :logger #ig/ref :duct/logger}

  :duct.middleware.buddy/authentication
  {:backend :token
   :token-name "Bearer"
   :authfn  #ig/ref :magnet.buddy-auth/jwt-oidc}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/site {}}
